@import '../../mixins';
@import '../../variables';
.slider {
    margin-top: 70px;

    h4 {
        color: $clr-lightgreen;
    }

    .event {
        font-weight: 500;
        &::before {
            content: "";
            background-image: url(../images/greenlock.svg);
            width: 11px;
            height: 20px;
            display: inline-flex;
            margin-right: 10px;
            position: relative;
            top: 4px;
        }
    }

    .swiper-slide {
        position: relative;
        img{
            border-width: 5px;
            border-color: transparent;
            border-radius: 20px;
            border-style: solid;
        }
        h4 {
            @include mq(md) {
                line-height: 30px;
               }  
        }
      
        &.active
        {
            h4 {
                color: $clr-yellow;
            }

            img{
                    border-color: $clr-yellow;
                
            }
            .event {
                &::before {
                    content: '';
                    background-image: url(../images/yellowlock.svg);
                }
            }
            .hover_text{
                display: block;
            }
        }
    }
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    top: 30%;
    right: 3%;
}
.hover_text{
    background-color: $clr-yellow;
    position: absolute;
    right: 0px;
    top: 52px;
    padding: 0px 18px;
    display: none;
    @include mq(md) {
        top: 35px;
    }
    h5{
        color: $clr-light;
        margin: 0;
        @include mq(md) {
           font-size: 18px;
        }
    }
}
.mySwiper1{
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 18%;
        top: 94%;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        top: 94%;
        left: 6%;
        
    }
    .swiper-location::after {
        content: "";
        background-color: #0000007d;
        height: 56px;
        width: 767px;
        bottom: 0;
        border-radius: 0px 0px 20px 20px;
        position: absolute;
        z-index: 2;
    }
   
}