@import './variables';
@import './mixins';

@media screen and (min-width:1750px) {
    .container {
        max-width: 1720px;
    }
}

// .container-fluid {
//     padding: 0 15px;
//     @include mq(sm) {
//         padding: 0 12px;
//     }
// }

a{
    text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}

.block-margin{
   margin-block: 200px;
   @include mq(lg){
       margin-block: 100px;
    }
}
.block-padding{
   padding-block: 200px;
   @include mq(lg){
       padding-block: 100px;
    }
}
.block-padding--xl{
   padding-block: 250px;
   @include mq(lg){
       padding-block: 100px;
    }
}

.text-accent {
   color: $clr-accent;
}

.object-cover {
    object-fit: cover;
}
.overlay-dark,
.overlay-light
 {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
        mix-blend-mode: overlay;
    }
}
.overlay-light {
    &::after {
        background-color: rgba($color: $clr-accent-light, $alpha: .3);
        mix-blend-mode: initial;
    }
}


.text__accent {
    color: $clr-accent;
}
.text__accent-light {
    color: $clr-accent-light;
}

.border__bottom{
    border-bottom:1.5px solid $clr-accent-light ;
}
.border__top{
    border-top:1.5px solid $clr-accent-light ;
}


.border__bottom--dark { 
    border-bottom:1.5px solid $clr-dark ;
}


.min-h-inherit {
    min-height: inherit;
}


.mb-170 {
    margin-bottom: 170px;
    @include mq(lg) {
        margin-bottom: 100px;
    }
}

.ps-70 {
    padding-left: 70px;
    @include mq(lg) {
        padding-left: 35px;
    }
    @include mq(sm) {
        padding-left: 0px;
    }
}
.pt-35 {
    padding-top: 35px;
    @include mq(sm) {
        padding-top: 20px;
    }
}
.pe-30 {
    padding-right:30px;
    @include mq(lg) {
        padding-right:15px;
    }
    @include mq(sm) {
        padding-right:0px;
    }
}
.ms-70 {
    margin-left: 70px;
    @include mq(lg) {
        margin-left: 35px;
    }
    @include mq(sm) {
        margin-left: 0px;
    }
}
.mb-50 {
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}

.mb-60 {
    margin-bottom: 60px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}
.pb-270 {
    padding-bottom: 270px;
    @include mq(lg){
        padding-bottom: 100px;
    }
}
.pb-115 {
    padding-bottom: 115px;
}
.pb-150 {
    padding-bottom: 150px;
    @include mq(md){
        padding-bottom: 80px;
    }
    @include mq(sm){
        padding-bottom: 20px;
    }
}
.mx-30 {
    margin-inline: 30px;
    @include mq(sm) {
        margin-inline: 0px;
    }
}


.section__content {
    &--sm {
        max-width: 433px;
        @include mq(lg){
           max-width: 100%;
           text-align: center;
        }
    }
    &--md {
        max-width: 714px;
        @include mq(lg){
           max-width: 100%;
        }
    }
}

.cap__icon {
    .cap-icon-top {
        transition: transform .3s ease-in-out;
    }
    &:hover .cap-icon-top {
        transform: translate(42.135px, 29.454px) rotate(180deg);  
    }
}

.link__dark {
    color: $clr-dark;
    display: block;
    &:hover {
        color: $clr-dark; 
    }
}
.link__accent {
    color: $clr-accent-light;
    display: block;
    &:hover {
        color: $clr-accent-light; 
    }
}

.resource {
    padding-block:275px 250px;
    background: url(../images/bg__gradient-top.png) no-repeat center/cover;
    @include mq(lg) {
        padding-block:250px 150px;
    }
    @include mq(sm) {
        padding-block: 100px;
    }
    &__text {
        div {
            position: relative;
            display: inline-block;
            span{
                position: absolute;
                width: 0;
                height: 100%;
                color: $clr-accent;
                left: 0;
                overflow:hidden;
                text-align: center;
              }

            }
            br {
              @include mq(xxxl) {
                  display: none;
              }
            }
    }
}

// feature
.feature {
 
    .nav-tabs {
            max-width: 1365px;
            width: 100%;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 85px;
            @include mq(lg) {
                margin-bottom: 30px;
                gap: 10px;
            }
            .nav-item  {
                @include mq(xxl) {
                    flex-basis: 100%;
                    display: flex;
                    justify-content: center;
                }
                @include mq(sm) {
                    // flex-basis: initial;
                    display: block;
                }
            }
        .nav-link {
            border: 0;
            border-bottom: 1px solid $clr-dark;
            color: $clr-dark;
            font-size: 23px;
            line-height: 60px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            min-width: 400px;
            @include mq(xxl) {
                min-width: auto;
                width: 100%;
            }
            @include mq(lg) {
                font-size: 16px;
                line-height: 24px;
            }
            @include mq(sm) {
                padding-inline: 0;
                text-wrap: nowrap;
                width: 100%;
            }
            &.active {
                background: transparent;
                font-weight: 600;
                border-bottom: 2px solid $clr-dark;
            }
        }
        
    }
    .feature__tab-content {
        max-width: 1365px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
            lottie-player {
                @include mq(sm) {
                    width: 100% !important;
                    height: 190px !important;
                }
            }
    }
}

.recycling {
    padding-top: 126px;
}
.contact {
    &__title {
        line-height: 55px;
        margin-bottom: 25px;
        @include mq(sm) {
            line-height: 35px;
        }
    }
    &__text {
        margin-bottom: 40px;
    }
    &__content {
        max-width: 536px;
    }
}
